<footer class="footer">
	<div class="footer_box">
		<div class="footer_linkListBox clearfix">
			<ul class="footer_linkList">
				<li class="clearfix">
					<img src="/assets/img/icon/github.png" class="footer_linkImage">
					<a href="https://github.com/knt5" class="footer_linkText">GitHub</a>
				</li>
				<li class="clearfix">
					<img src="/assets/img/icon/twitter.png" class="footer_linkImage">
					<span class="footer_linkText">
						<a href="https://twitter.com/knt5">Twitter</a>
						<span class="footer_emoji-lock"> 🔒</span>
					</span>
				</li>
				<li class="clearfix">
					<img src="/assets/img/icon/facebook.png" class="footer_linkImage">
					<a href="https://www.facebook.com/knt5f" class="footer_linkText">Facebook</a>
				</li>
			</ul>
			<ul class="footer_linkList">
				<li class="clearfix">
					<span class="footer_linkText">
						➔ <a href="http://knt5lab.appspot.com/">Old portfolio site</a>
					</span>
				</li>
			</ul>
		</div>
		<div class="footer_copyright">
			Copyright © Kenta Motomura. All rights reserved.
		</div>
	</div>
</footer>
