<footer class="footer">
	<div class="footer-box">
		<div class="footer-link-list-box clearfix">
			<ul class="footer-link-list">
				<li>
					<img src="/assets/img/icon/github.png" class="footer-icon">
					<a href="https://github.com/knt5">GitHub</a>
				</li>
				<li>
					<img src="/assets/img/icon/twitter.png" class="footer-icon">
					<a href="https://twitter.com/knt5">Twitter</a>
					<span class="footer-emoji--lock"> 🔒</span>
				</li>
				<li>
					<img src="/assets/img/icon/facebook.png" class="footer-icon">
					<a href="https://www.facebook.com/knt5f">Facebook</a>
				</li>
			</ul>
			<ul class="footer-link-list">
				<li>➔ <a href="http://knt5lab.appspot.com/">Old portfolio site</a></li>
			</ul>
		</div>
		<div class="footer-copyright">
			Copyright © Kenta Motomura. All rights reserved.
		</div>
	</div>
</footer>
