<footer class="footer">
	<div class="footer-box">
		<div class="footer-link-list-box clearfix">
			<ul class="footer-link-list">
				<li class="clearfix">
					<img src="/assets/img/icon/github.png" class="footer-icon footer-link-image">
					<a href="https://github.com/knt5" class="footer-link-text">GitHub</a>
				</li>
				<li class="clearfix">
					<img src="/assets/img/icon/twitter.png" class="footer-icon footer-link-image">
					<span class="footer-link-text">
						<a href="https://twitter.com/knt5">Twitter</a>
						<span class="footer-emoji--lock"> 🔒</span>
					</span>
				</li>
				<li class="clearfix">
					<img src="/assets/img/icon/facebook.png" class="footer-icon footer-link-image">
					<a href="https://www.facebook.com/knt5f" class="footer-link-text">Facebook</a>
				</li>
			</ul>
			<ul class="footer-link-list">
				<li class="clearfix">
					<span class="footer-link-text">
						➔ <a href="http://knt5lab.appspot.com/">Old portfolio site</a>
					</span>
				</li>
			</ul>
		</div>
		<div class="footer-copyright">
			Copyright © Kenta Motomura. All rights reserved.
		</div>
	</div>
</footer>
