# Mac OS X
.DS_Store

# Node.js, npm
node_modules
.npm

# Logs
logs
*.log
npm-debug.log*

# Sass cache directory
.sass-cache

#  Working directory
gulp/tmp/

# Selenium
test/e2e/bin/*
!test/e2e/bin/.gitkeep
test/e2e/result/*
!test/e2e/result/.gitkeep
