<!DOCTYPE html>
<html lang="ja">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	
	<!-- ========================= SNS tags ========================= -->
	{{> views/index/snsTags.html }}
	
	<title>Kenta Motomura</title>
	<link rel="icon" type="image/png" href="./assets/img/favicon.png">
	<link rel="apple-touch-icon" type="image/png" href="./assets/img/favicon.png">
	<style>{{> views/index.css }}</style>
</head>
<body>
	<!-- ========================= header ========================= -->
	{{> views/index/header.html }}
	
	<!-- ========================= profile ========================= -->
	{{> views/index/profile.html }}
	
	<!-- ========================= product ========================= -->
	{{> views/index/product.html }}
	
	<!-- ========================= footer ========================= -->
	{{> components/footer/footer.html }}
	
	<!-- ========================= js ========================= -->
	<script src="./assets/js/lib/jquery.min.js?v=3.0.0"></script>
	<script src="./assets/js/lib/jquery-canvas-sparkles.min.js?v=1.0.1"></script>
	<script>{{> views/index.js }}</script>
	<script src="./assets/js/analytics.js"></script>
</body>
</html>
