//============================== footer ==============================

.footer {
	margin-top: 80px;
	padding: 12px 20px 48px;
	width: 100%;
	background: linear-gradient(to left, #4b6cb7, #182848);
	color: #fff;
}

.footer_box {
	margin: 0 auto;
	width: $content-width;
	
	a {
		color: #fff;
	}
	
	a:link,
	a:visited,
	a:active {
		text-decoration: underline;
	}

	a:hover {
		text-decoration: none;
	}
}

//============================== footer:copyright ==============================

.footer_copyright {
	margin-top: 40px;
	font-size: 12px;
	text-align: center;
	font-family: 'GillSans';  // for iOS
}

//============================== footer:links ==============================

.footer_linkListBox {
	margin-top: 20px;
}

.footer_linkList {
	display: inline-block;
	vertical-align: top;
	margin-top: 20px;
	margin-right: 46px;
	padding: 0;
	font-size: 16px;
	
	li {
		display: block;
		padding-bottom: 8px;
	}
}

.footer_linkList:nth-last-child(1) {
	margin-right: 0;
}

.footer_linkImage {
	display: block;
	float: left;
	width: 16px;
	height: 16px;
}

.footer_linkText {
	display: block;
	float: left;
	margin: 0 0 4px 6px;
	line-height: 16px;
}

.footer_emoji-lock {
	font-size: 13px;
}

//============================== media:$content-width ==============================

@media (max-width: $content-width) {
	.footer_box {
		width: auto;
	}
}
