//============================== footer ==============================

.footer {
	margin-top: 80px;
	padding: 20px 20px 60px;
	width: 100%;
	background: linear-gradient(to left, #4b6cb7, #182848);
	color: #fff;
}

.footer-box {
	margin: 0 auto;
	width: $content-width;
	
	a {
		color: #fff;
	}
	
	a:link,
	a:visited,
	a:active {
		text-decoration: underline;
	}

	a:hover {
		text-decoration: none;
	}
}

//============================== copyright ==============================

.footer-copyright {
	margin-top: 40px;
	font-size: 12px;
	text-align: center;
	font-family: 'GillSans';  // for iOS
}

//============================== links ==============================

.footer-link-list-box {
	margin-top: 20px;
}

.footer-link-list {
	display: inline-block;
	vertical-align: top;
	margin-top: 20px;
	margin-right: 60px;
	padding: 0;
	font-size: 16px;
	
	li {
		display: block;
		padding-bottom: 8px;
	}
}

.footer-link-list:nth-last-child(1) {
	margin-right: 0;
}

.footer-link-image {
	display: block;
	float: left;
}

.footer-link-text {
	display: block;
	float: left;
	margin: 0 0 4px 6px;
	line-height: 16px;
}

.footer-emoji--lock {
	font-size: 13px;
}

//============================== icon ==============================

.footer-icon {
	width: 16px;
	height: 16px;
}

//============================== media:$content-width ==============================

@media (max-width: $content-width) {
	.footer-box {
		width: auto;
	}
}
