//============================== product ==============================

.product_japanFlag {
	height: 14px;
	border: 1px solid #999;
}

//============================== product:hakoniwa ==============================

.product_hakoniwa {
	background: #000;
	background-image: linear-gradient(to left, #434343, #000);
	color: #fff;
	width: auto;
	padding: 60px 20px;
	
	h3 {
		margin-top: 0;
		font-size: 40px;
	}
}

.product_hakoniwaScreenshotBox {
	margin: 0 -20px 20px;
}

.product_hakoniwaScreenshot {
	width: 100%;
	max-width: 860px;
}

//============================== product:city-generator ==============================

.product_cityGeneratorImage {
	width: 100%;
	max-width: 560px;
}

//============================== product:jpgis-convert ==============================
.product_jpgisGmlConverterImage {
	width: 100%;
	max-width: 560px;
}

//============================== product:visual-dictionary ==============================

.product_visualDictionaryIcon {
	width: 100%;
	max-width: 128px;
}

.product_visualDictionaryScreenshot {
	width: 100%;
	max-width: 720px;
}

//============================== product:the-fur ==============================

.product_theFurImage {
	width: 100%;
	max-width: 560px;
}

//============================== product:cubox ==============================

.product_cuboxScreenshot {
	margin: 5px 5px 0 0;
	width: 100%;
	max-width: 420px;
}

.product_cuboxDescList {
	margin-top: 12px;
	padding: 0;
}

//============================== product:console-artist ==============================

.product_consoleArtistScreenshotBox {
	width: 802px;
	margin: 0 auto;
}

.product_consoleArtistScreenshot {
	display: block;
	float: left;
	margin-top: 8px;
	width: 100%;
	max-width: 546px;
}

.product_consoleArtistScreenshot-vertical {
	display: block;
	float: left;
	margin: 8px 8px 0 0;
	width: 100%;
	max-width: 248px;
}

//-- media:842 / console-artist screenshots --

@media (max-width: 842px) {
	.product_consoleArtistScreenshotBox {
		width: auto;
		text-align: center;
	}
	
	.product_consoleArtistScreenshot {
		display: inline;
		float: none;
	}
	
	.product_consoleArtistScreenshot-vertical {
		display: none;
	}
}
