
//============================== profile ==============================

.profile {
	h2 {
		letter-spacing: 2px;
	}
	
	h3 {
		margin-top: 25px;
	}
	
	ul {
		padding: 0;
		margin-top: 10px;
	}
	
	li {
		display: block;
		padding-bottom: 4px;
	}
}

//============================== profile:lang ==============================

.profile-lang-chart-box {
	position: relative;
	margin: 30px auto 0;
	width: 100%;
	max-width: 607px;
}

.profile-lang-chart {
	width: 100%;
}

.profile-lang-chart-label-c {
	position: absolute;
	top: 10%;
	right: 0;
	margin-right: 16%;
	color: #fff;
	line-height: 1;
	font-weight: bold;
	font-size: 220px;
	font-family: 'Courier';
	
	// http://markdotto.com/playground/3d-text/
	text-shadow:
		0 1px 0 #ccc,
		0 2px 0 #c9c9c9,
		0 3px 0 #bbb,
		0 4px 0 #b9b9b9,
		0 5px 0 #aaa,
		0 6px 1px   rgba(0, 0, 0, 0.1),
		0 0 5px     rgba(0, 0, 0, 0.1),
		0 1px 3px   rgba(0, 0, 0, 0.3),
		0 3px 5px   rgba(0, 0, 0, 0.2),
		0 5px 10px  rgba(0, 0, 0, 0.25),
		0 10px 10px rgba(0, 0, 0, 0.2),
		0 20px 20px rgba(0, 0, 0, 0.15);
}

.profile-lang-chart-label-js {
	position: absolute;
	bottom: 15%;
	left: 0;
	width: 100%;
	text-align: center;
	color: #fff;
	line-height: 1;
	font-weight: bold;
	font-size: 60px;
	font-family: 'Courier';
	
	text-shadow:
		0 1px 0 #ccc,
		0 2px 0 #c9c9c9,
		0 3px 0 #bbb,
		0 4px 0 #b9b9b9,
		0 5px 0 #aaa,
		0 6px 1px   rgba(0, 0, 0, 0.1),
		0 0 5px     rgba(0, 0, 0, 0.1),
		0 1px 3px   rgba(0, 0, 0, 0.3),
		0 3px 5px   rgba(0, 0, 0, 0.2),
		0 5px 10px  rgba(0, 0, 0, 0.25),
		0 10px 10px rgba(0, 0, 0, 0.2),
		0 20px 20px rgba(0, 0, 0, 0.15);
}

//============================== profile:swimming ==============================

.swimming-box {
	margin-top: 10px;
	text-align: center;
}

.swimming {
	display: inline-block;
	text-align: left;
}

//============================== media:500 ==============================

@media (max-width: 500px) {
	.profile-lang-chart-label-c {
		top: 2%;
		font-size: 140px;
	}
	
	.profile-lang-chart-label-js {
		font-size: 40px;
	}
}
