@import '../common/base/base';
@import '../common/parts/footer';

//============================== element ==============================

h2, h3 {
	font-family: 'AvenirNext-Regular';  // for iOS
}

//============================== header ==============================

.header {
	position: relative;
	background: linear-gradient(to left, #ff4e50 , #ffc500);
	color: #fff;
	font-family: 'GillSans';  // for iOS
}

.header-box {
	margin: 0 auto;
	padding: 60px 0 80px;
	width: $content-width;
	
	h1 {
		font-size: 60px;
		font-weight: normal;
		line-height: 1.1;
	}
	
	span {
		font-size: 20px;
	}
}

.header-image-box {
	position: relative;
	margin: 0 auto 150px;
	width: $header-image-size;
}

.header-image {
	position: absolute;
	top: -70px;
	width: $header-image-size;
	height: $header-image-size;
	border: 5px solid #fff;
	border-radius: 50%;
	background-color: #fff;
	background-image: url('/assets/img/knt5.jpg');
	background-size: $header-image-size $header-image-size;
	box-shadow: 0 2px 6px 1px #999;
}

.header-image-desc {
	font-size: 12px;
	color: #999;
	line-height: 1.1;
	text-align: center;
	font-family: 'GillSans';  // for iOS
	
	img {
		width: 15px;
		height: 10px;
	}
}

//============================== main ==============================

.main {
	margin: 20px auto 0;
	padding: 0 20px;
	width: $content-width;
}

//============================== section ==============================

.section {
	margin-top: 60px;
	
	h2 {
		text-align: center;
		font-size: 55px;
		font-weight: normal;
	}
	
	h3 {
		text-align: center;
		font-size: 30px;
		font-weight: normal;
	}
	
	span {
		font-weight: bold;
		font-family: 'AvenirNext-Regular';  // for iOS
	}
	
	p {
		margin-top: 10px;
		text-align: center;
	}
	
	strong {
		color: #f73;
	}
}

//============================== profile ==============================

.profile {
	h2 {
		letter-spacing: 2px;
	}
	
	h3 {
		margin-top: 25px;
	}
	
	ul {
		padding: 0;
		margin-top: 10px;
	}
	
	li {
		display: block;
		padding-bottom: 4px;
	}
}

//============================== product ==============================

.product {
	h3 {
		margin-top: 50px;
	}
	
	hr {
		margin: 50px auto 0;
		width: 75%;
	}
	
	li {
		margin-left: 20px;
	}
}

.product-japan-flag {
	height: 14px;
	border: 1px solid #999;
}

//============================== product:cubox ==============================

.product-cubox-screen-shot {
	margin: 5px 5px 0 0;
	width: 100%;
	max-width: 420px;
}

.product-cubox-desc-list {
	margin-top: 12px;
	padding: 0;
}

//============================== product:console-artist ==============================

.product-console-artist-screen-shot-box {
	width: 802px;
	margin: 0 auto;
}

.product-console-artist-screen-shot-vertical {
	display: block;
	float: left;
	margin: 8px 8px 0 0;
	width: 100%;
	max-width: 248px;
}

.product-console-artist-screen-shot {
	display: block;
	float: left;
	margin-top: 8px;
	width: 100%;
	max-width: 546px;
}

//============================== media:500 ==============================

@media (max-width: 500px) {
	.github-ribbon {
		img {
			width: 74px;
			height: 74px;
		}
	}
}

//============================== media:842 (for console-art screen shots) ==============================

@media (max-width: 842px) {
	.product-console-artist-screen-shot-box {
		width: auto;
		text-align: center;
	}
	
	.product-console-artist-screen-shot-vertical {
		display: inline;
		float: none;
	}
	
	.product-console-artist-screen-shot {
		display: inline;
		float: none;
	}
}

//============================== media:$content-width ==============================

@media (max-width: $content-width) {
	
	//============================== header ==============================
	.header-box {
		width: auto;
		padding: 40px 0;
		text-align: center;
		
		h1 {
			font-size: 40px;
		}
	}
	
	.header-image-box {
		width: $small-header-image-size;
	}
	
	.header-image {
		top: -20px;
		width: $small-header-image-size;
		height: $small-header-image-size;
		border-width: 4px;
		background-size: $small-header-image-size $small-header-image-size;
	}
	
	//============================== main ==============================
	.main {
		width: auto;
	}
	
	//============================== profile ==============================
	.profile {
		h2 {
			font-size: 40px;
		}
	}
}
