<section class="section-product">
	<h2>Products</h2>
	<p>- Software -</p>
</section>

<!-- ========================= hakoniwa ========================= -->
<section class="section-product product_hakoniwa">
	<h3>Hakoniwa</h3>
	<p>JAXA ALOS DSM 3D visualizer</p>
	<p>- Real Minecraft -</p>
	<p>➔ <a href="/demo/hakoniwa/">Demo</a></p>
	<p>➔ <a href="https://github.com/knt5/hakoniwa">GitHub</a></p>
	<p class="product_hakoniwaScreenshotBox"><a href="/demo/hakoniwa/"><img src="/assets/img/product/hakoniwa/screenshot.png" alt="hakoniwa screen shot" class="product_hakoniwaScreenshot"></a></p>
	<p>A 3D visualizer of elevation data including the height of buildings (DSM) which was recorded by the Advanced Land Observing Satellite "<a href="http://global.jaxa.jp/projects/sat/alos/index.html">Daichi</a>" of JAXA</p>
	<!--
	<p>JAXA の陸域観測衛星「<a href="http://www.jaxa.jp/projects/sat/alos/index_j.html">だいち</a>」が記録した建物の高さを含む標高データ(DSM)の3Dビジュアライザ</p>
	-->
	<p>➔ Article: <a href="http://www.moongift.jp/2016/09/hakoniwa-%E6%A8%99%E9%AB%98%E3%83%A1%E3%83%83%E3%82%B7%E3%83%A5%E3%83%87%E3%83%BC%E3%82%BF%E3%82%92%E4%BD%BF%E3%81%A3%E3%81%9F3d%E8%A1%A8%E7%A4%BA/">MOONGIFT (Sep 7, 2016)</a></p>
</section>

<!-- ========================= product ========================= -->
<section class="section-product">
	<!-- ========================= city generator ========================= -->
	<hr>
	<h3>City Generator</h3>
	<p>A tech demo to predict height of buildings in real time on web browser and generate 3D city</p>
	<p>(Data source: <a href="http://global.jaxa.jp/">JAXA</a> and <a href="http://www.gsi.go.jp/">GSI</a>)</p>
	<p>➔ <a href="/demo/city-generator/">Demo</a></p>
	<p>➔ <a href="https://github.com/knt5/city-generator">GitHub</a></p>
	<!--
	<p><img src="/assets/img/product/city-generator/summary.jpg" alt="summary" class="product_cityGeneratorSummaryImage"></p>
	-->
	<p><img src="/assets/img/product/city-generator/city-generator.png" alt="city generator image" class="product_cityGeneratorImage"></p>
	<p>➔ Article: <a href="http://www.moongift.jp/2016/09/city-generator-web%E4%B8%8A%E3%81%AB%E5%8B%95%E3%81%8B%E3%81%9B%E3%82%8B3d%E5%9C%B0%E5%9B%B3%E3%82%92%E8%A1%A8%E7%A4%BA/">MOONGIFT (Sep 17, 2016)</a></p>

	<!-- ========================= jpgis convert ========================= -->
	<hr>
	<h3>JPGIS GML converter</h3>
	<p>A <a href="http://fgd.gsi.go.jp/download/">JPGIS GML</a> to GeoJSON converter made for City Generator</p>
	<p>➔ <a href="https://www.npmjs.com/package/jpgis-convert">npm</a></p>
	<p>➔ <a href="https://github.com/knt5/jpgis-convert">GitHub</a></p>
	<p><img src="/assets/img/product/jpgis-convert/jpgis-convert.png" alt="jpgis-convert image" class="product_jpgisGmlConverterImage"></p>

	<!-- ========================= visual dictionary ========================= -->
	<hr>
	<h3>Visual Dictionary</h3>
	<p><img src="/assets/img/product/visual-dictionary/icon.png" alt="screenshot" class="product_visualDictionaryIcon"></p>
	<p>Search words with images</p>
	<p>➔ <a href="https://github.com/knt5/visual-dictionary-mac">GitHub</a></p>
	<p><img src="/assets/img/product/visual-dictionary/screenshot.png" alt="screenshot" class="product_visualDictionaryScreenshot"></p>

	<!-- ========================= the fur ========================= -->
	<hr>
	<h3>THE FUR</h3>
	<p>Make everything fluffy (mofumofu) 🐈</p>
	<p>➔ <a href="/demo/fur/">Demo</a></p>
	<p>➔ <a href="https://github.com/knt5/fur-shader">GitHub</a></p>
	<!--<p><img src="/assets/img/product/fur/examples.jpg" alt="fur image examples" class="product_theFurExamples"></p>-->
	<p><img src="/assets/img/product/fur/fur.jpg" alt="fur image" class="product_theFurImage"></p>
	<p>➔ Article: <a href="http://www.moongift.jp/2016/08/the-fur-%E4%BD%95%E3%81%A7%E3%82%82%E5%8F%AF%E6%84%9B%E3%81%8F%E3%83%A2%E3%83%95%E3%83%A2%E3%83%95%E5%8A%A0%E5%B7%A5/">MOONGIFT (Aug 2, 2016)</a></p>

	<!-- ========================= cubox ========================= -->
	<hr>
	<h3>Cubox</h3>
	<p>A JavaScript camera app to make 3D cuboid model from 2 photos without WebGL and any servers' power</p>
	<p>➔ <a href="http://knt5lab.appspot.com/cubox/">Demo</a></p>
	<p>➔ <a href="https://github.com/knt5/cubox">GitHub</a></p>
	<p><img src="/assets/img/product/cubox/screenshot1.jpg" alt="cubox screen shot 1" class="product_cuboxScreenshot"><img src="/assets/img/product/cubox/screenshot2.jpg" alt="cubox screen shot 2" class="product_cuboxScreenshot"></p>
	<ul class="product_cuboxDescList">
		<li>Documents:</li>
		<ul>
			<li><a href="http://knt5lab.appspot.com/software/cubox/pdf/intro-en.pdf">Abstract</a></li>
			<li><a href="http://knt5lab.appspot.com/software/cubox/pdf/20130608_BuildersHUB.pdf">Technology description</a> <img src="/assets/img/icon/japan-flag.png" alt="Japanese" class="product_japanFlag"></li>
		</ul>
		<li>I made it in <a href="https://www.facebook.com/devcampfun">DevCamp</a> 2013 (hackathon) and won the 1st prize. ➔ <a href="https://youtu.be/K7cLuRUGL08?t=1m38s">YouTube</a></li>
	</ul>

	<!-- ========================= console artist ========================= -->
	<hr>
	<h3>Console Artist</h3>
	<p>A web browser console art generator</p>
	<p>➔ <a href="/demo/console-artist/">Demo</a></p>
	<p>➔ <a href="https://github.com/knt5/console-artist">GitHub</a></p>
	<p class="product_consoleArtistScreenshotBox clearfix"><img src="/assets/img/product/console-artist/screenshot1.png" alt="console artist screen shot 1" class="product_consoleArtistScreenshot-vertical"><img src="/assets/img/product/console-artist/screenshot2.png" alt="console artist screen shot 2" class="product_consoleArtistScreenshot"><img src="/assets/img/product/console-artist/screenshot3.png" alt="console artist screen shot 3" class="product_consoleArtistScreenshot"></p>

	<!-- ========================= this site ========================= -->
	<hr>
	<h3>This portfolio site</h3>
	<p>An example to merge and minify css/js/html files to a single html file.</p>
	<p>➔ <a href="https://github.com/knt5/knt5.github.io">GitHub</a></p>

	<!-- ========================= old portfolio ========================= -->
	<hr>
	<h3>Old portfolio site</h3>
	<p>written in Go in 2012</p>
	<p>➔ <a href="http://knt5lab.appspot.com/">http://knt5lab.appspot.com/</a></p>
</section>
