<section class="section-profile">
	<h2>Profile</h2>
	<ul>
		<li><span>Name:</span> Kenta Motomura</li>
		<li><span>Location:</span> Tokyo, Japan</li>
		<li><span>Occupation:</span> Software Engineer</li>
		<li><span>GitHub:</span> <a href="https://github.com/knt5">https://github.com/knt5</a></li>
		<li><span>Interests:</span> c, javascript, graphics, design, 3d, gpu, maps, space, test, bdd, performance, usability, maintainability, user interface, <a href="https://github.com/knt5/deep-learning">deep learning</a>, mac, ios, git, japan, photo, swimming, cooking, onsen</li>
	</ul>

	<h3>Programming Languages</h3>
	<p>
		C, JavaScript, Python, Swift, GLSL, Objective-C, Java, Sass, CSS, HTML, Go, C#, PHP, Perl and more.
		<!--
		<strong>I love C the best.</strong>
		-->
	</p>
	<p>
		<div class="profile_langChartBox">
			<img src="/assets/img/profile/lang-chart-20160809.png" alt="Programming language chart" class="profile_langChart">
			<div id="js-profileLangChartLabel-c" class="profile_langChartLabel-c">C</div>
			<div id="js-profileLangChartLabel-js" class="profile_langChartLabel-js">JavaScript</div>
		</div>
	</p>
	<p>- Percentages in my heart -</p>
	<p><a href="/demo/profile-lang-chart/">SVG version</a></p>

	<h3>Swimming</h3>
	<div class="profile_swimmingBox">
		<div class="profile_swimming">
			2014: 31,100m (102,034ft)<br>
			2015: 63,200m (207,349ft)<br>
			2016: 54,000m (177,165ft)<br>
			2017: 43,200m (141,732ft)<br>
			2018: 28,100m (August)
		</div>
	</div>
</section>
