<!-- Twitter tag -->
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:site" content="@knt5">
<meta name="twitter:creator" content="@knt5">
<meta name="twitter:title" content="Kenta Motomura">
<meta name="twitter:description" content="Portfolio">
<meta name="twitter:image:src" content="https://knt5.github.io/assets/img/twitter/summary-large-image/home.jpg?3">

<!-- Facebook -->
<meta property="og:url" content="https://knt5.github.io/" />
<meta property="og:type" content="website" />
<meta property="og:title" content="Kenta Motomura" />
<meta property="og:description" content="Portfolio" />
<meta property="og:image" content="https://knt5.github.io/assets/img/twitter/summary-large-image/home.jpg" />
<meta property="og:image:width" content="560" />
<meta property="og:image:height" content="300" />
